.category-card {
    background: white;
    border-radius: 15px;
    padding: 30px 20px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 5px 20px rgba(0,0,0,.08);
  }
  
  .category-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
  }
  
  .category-icon {
    font-size: 55px;
    margin-bottom: 15px;
  }
  
  .category-card h3 {
    color: #333;
  }
  .category-link {
    text-decoration: none;
    display: block;
  }