.dashboard {
  width: 100%;
}


.dashboard h1 {
  margin-bottom: 30px;
  color: #1b5e20;
}


.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(220px, 1fr)
  );
  gap: 20px;
}


.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 18px rgba(0,0,0,.08);
}


.icon {
  font-size: 40px;
  color: #2e7d32;
}


.card h2 {
  font-size: 32px;
}


/* MOBILE */
@media(max-width:600px){

.dashboard h1{
  font-size:24px;
}


.card{
  padding:20px;
}


.icon{
  font-size:30px;
}


.card h2{
  font-size:25px;
}

}